name: Deploy Lambda Function

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v2

      - name: Configurar AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: AKIAVAE7LJRUT3SCNO6R
          aws-secret-access-key: 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
          aws-region: us-east-1

      - name: Deploy
        run: |
          aws lambda invoke --function-name lambda-gh-actions index.msj
          cat index.msj
          ls -la
          if [ -f "index.js" ]; then
            zip -j deploy.zip index.js
          else
            echo "El archivo index.js no existe en el directorio de trabajo."
          fi
          if [ -f "deploy.zip" ]; then
          aws lambda update-function-code --function-name lambda-gh-actions --zip-file fileb://deploy.zip
          else
            echo "El archivo deploy.zip no se creó correctamente."
          fi
          ls -la deploy.zip
          zip -j deploy.zip
          aws lambda update-function-code --function-name lambda-gh-actions --zip-file fileb://deploy.zip
